<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Time Stamp Service</title>
</head>
<body>
    <div>
    <h1>Time Stamp Service</h1>
    <h3>Get all time when you need</h3>
    <ol>
        <h4>Example:</h4>
        <li><a href="/api/timestamp/">Without Parameters</a></li>
        <li><a href="/api/timestamp/2003-09-09">With Parameters</a></li>
        <li><a href="/api/timestamp/2003-421-09">Invalid Parameters</a></li>
        <li><a href="/api/timestamp/'2003-09-09'">String Parameters</a></li>
    </ol>
    </div>
</body>
</html>